<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Resume/CV</a></li>
	        		<li><a href="/code">Coding Projects</a></li>
	        		<li><a href="/art">Photography and Art</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nicolekflett@gmail.com">email</a></li>
	        		<li><a href="https://github.com/nkflett">github.com/nkflett</a></li>
				</ul>
			</footer>
		</body>
	</html>
